{% extends 'navbar.html'%}

{% block content %}

    <div class="fieldset">
		<h2 class="">Add Entry</h2>
		<div class="form">
			<div id="Form" class="form__row">
				<form method="POST">{% csrf_token %}
					{{ form.as_p }}
					<div class="buttons">
						<button type="submit" class="button form__submit button button--main button--small">Add</button>
						<button onclick="history.back()" class="button button--gray button--small">Cancel</button>

					</div>
				</form>
			</div>
    	</div>

	</div>

{% endblock %}