<!--Filter this page so that only the entries belonging to this exercise display-->
{% extends "navbar.html" %}
{% load static %}
{% block content %}
<style>
input {
  box-sizing: border-box;
}</style>

    <div class="fieldset">
			<div class="form">
				<form id="Form" method="POST">{% csrf_token %}
                    <div class="form__row d-flex align-items-center justify-space">
						<div class="form__select">
                            {{form.exercise}}
						</div>
					</div>
                    <br>
                    <div class="form__row d-flex align-items-center justify-space">
                        {{form.weight}} x {{form.reps}}
                    </div>
                    <br>
					<div class="form__row d-flex align-items-center justify-space">
                        <div class="form__input">
                            {{form.notes}}
                        </div>
                    </div>
					<div class="form__row mt-40">
						<input type="submit" name="submit" class="form__submit button button--main button--full" id="submit" value="SUBMIT" />
					</div>
				</form>
			</div>
		</div>

    <button onclick="history.back(-46)" class="button button--gray button--small">Go Back</button>
    <h2 style="color:black;">Past Entries:</h2>
    <div class="cards cards--11" style="background-color:rgb(245,245,245); border-bottom: 3px solid #2b2b2b; padding: 15px; border-radius:25px;">
        {% for entry in entries %}
        <div class="card card--style-inline">
            <div class="card__thumb card__thumb--round-corners" style="background-color:red; border-radius:15px;"><img src="https://www.svgrepo.com/show/303723/crystal-shard.svg" alt="" title=""/></div>
                <div class="card__details">
                    <h2 class="card--style-icon-title">{{entry.exercise}} </h2>
                    <p class="card--style-icon__text">{{entry.weight}} x {{entry.reps}}</p>
                    <span class="card--style-icon-title">({{entry.created}}) | <a href="#" style="color:red;">Delete</a></span>
                    <hr>
                </div>

            </div>
            {% endfor %}
        </div>
    <br><br>


    {% endblock %}