{% extends 'navbar.html'%}

{% block content %}

<style>
</style>
    <div class="fieldset">
		<h2 class="">Add Exercise</h2>
		<div class="form" id="Form">
			<div id="" class="form__row">
				<form method="POST">{% csrf_token %}
					{{ form.as_p }}
					<div class="buttons">
						<button type="submit" class="button form__submit button button--main button--small">Done</button>
						<button onclick="history.back()" class="button button--gray button--small">Cancel</button>

					</div>
				</form>
			</div>
    	</div>

	</div>

{% endblock %}