{% extends 'navbar.html'%}

{% block content %}

<style>
</style>
    <div class="fieldset">
		<h2 class="">Add Exercise</h2>
		<div class="form" id="Form">
			<div id="" class="form__row">
<!--				<form method="POST">{% csrf_token %}-->
<!--					{{ form.as_p }}-->
<!--					<div class="buttons">-->
<!--						<button type="submit" class="button form__submit button button&#45;&#45;main button&#45;&#45;small">Done</button>-->
<!--						<button onclick="history.back()" class="button button&#45;&#45;gray button&#45;&#45;small">Cancel</button>-->

<!--					</div>-->
<!--				</form>-->
			</div>
    	</div>

	</div>

{% endblock %}