{% extends "navbar.html" %}
{% load static %}

{% block content %}
    <div class="page__content">
        <div class="page__title-bar">
            <h1 class="page-title" style="color:#2b2b2b;">Today's Exercises:</h1>
        </div>
        <div class="cards cards--12">
            {% for exercise in object_list %}
            <a href="{% url 'details' exercise_id=exercise.id %}" class="card card--style-icon card--style-round-corners">
                <h4 class="card--style-icon-title">{{exercise.name}} :c</h4>
            </a>
            {% endfor %}

        </div>
    </div>


{% endblock %}
