{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
<title>MobioKit - Premium Mobile Template</title>
<link rel="stylesheet" href="{% static 'static/swiper/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'static/css/style.css' %}">
<link rel="stylesheet" href="{% static 'static/css/addition_stylesheet.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<script src="https://kit.fontawesome.com/e30502a56a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header header--page header--fixed">
		<div class="header__inner">
			<div class="header__icon header__icon--menu open-panel" data-panel="left"><span></span><span></span><span></span><span></span><span></span><span></span></a></div>
			<div class="header__logo header__logo--text"><a href="index.html">Mobio<strong>Kit</strong></a></div>
			<div class="header__icon open-panel" data-panel="right"><img src="{% static 'static/assets/images/icons/white/plus-bold.svg' %}" alt="" title=""/></div>
        </div>
    </header>
    <!-- Overlay panel -->
    <div class="body-overlay"></div>
    <!-- Left panel -->
    <div id="panel-left">{% include 'business/panel-left.html' %}</div>
    <!-- Right panel -->
    <div id="panel-right">{% include 'business/panel-right.html' %}</div>

    <div class="page__content page__content--with-header page__content--with-bottom-nav">

        {% block content %}
        {% endblock %}

    </div>
<footer>
    <div class="bottom-navigation bottom-navigation--gradient">
        <ul class="bottom-navigation__icons">
        <li><a href="{% url 'dashboard' %}"><img src="{% static 'static/assets/images/icons/white/home.svg' %}" alt="dashboard" title="" /></a></li>
        <li><a href="{% url 'exercise.new' %}"><img src="{% static 'static/assets/images/icons/white/tabs.svg' %}" alt="add exercise" title="" /></a></li>
        <li class="centered"><div class="blob-container">
            <div class="blob-button">
                <div class="bar-container">
                    <img class="fas blob-link-icon " src="{% static 'static/assets/images/icons/gradient-purple/plus-bold.svg' %}">
                </div>
            </div>
            <div class="link2 link">
                <a href="{% url 'entry_new' %}"> <img class="blob-link-icon fas" src="{% static 'static/assets/images/icons/white/dumbell.svg' %}"></a>
            </div>
            <div class="link3 link">
                <a href="{% url 'exercise.new' %}"> <img class="blob-link-icon fas" src="{% static 'static/assets/images/icons/white/list.svg' %}"></a>
            </div>
        </div></li>
        <li><a href="{% url 'user-profile' %}"><img src="{% static 'static/assets/images/icons/white/user.svg' %}" alt="my profile" title="" /></a></li>
        <li><a href="{% url 'logout' %}" data-popup="social" class="open-popup"><img src="{% static 'static/assets/images/icons/white/logout.svg' %}" alt="logout" title="" /></a></li>
        </ul>
    </div>
</footer>


</body>
<script src="{% static 'static/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'static/jquery/jquery.validate.min.js' %}" ></script>
<script src="{% static 'static/swiper/swiper.min.js' %}"></script>
<script src="{% static 'static/js/swiper-init.js' %}"></script>
<script src="{% static 'static/js/jquery.custom.js' %}"></script>
<script src="{% static 'static/js/additional_js.js' %}"></script>



